// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login {
  margin:20px 10px;
  text-align:right;
}

.top_image {
  width:100%;
}

.show_image_area {
  margin-top :5px;
}

.confirm_image img {
  max-width: 100%;
}

.image_area {
  height: 250px;
  overflow: hidden;
  margin-top:10px;
}

.picture_image img {
  max-width: 100%;
  height:auto;
  margin: 0 auto;
}

.btn_area {
  margin-top:10px;
  margin-bottom:10px;
}

